  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

  body{
    margin:0;
    padding: 0;
    height: 100%;
    background: url(landscape.gif) no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}
#container{
    background: url(clock.png) no-repeat;
    width: 40vw;
    max-width: 40vw;
    height: 40vw;
    background-size:100%;
    position: relative;
    /* top: 30px; */
    margin: 0 auto;
}
#hr, #min, #sec{
    position: absolute;
    border-radius: 10px;
    transform-origin: bottom;
    transition: .1s linear;
    background-color: black;
}
#hr{
    width: 3%;
    height: 22%;
    top: 27.3%;
    left: 48.3%;
    /* background-color: red; */
}
#min{
    width: 2.3%;
    height: 33%;
    top: 17%;
    left: 48.7%;
    /* background-color: blueviolet; */
}
#sec{
    width: 1%;
    height: 35%;
    top: 14.8%;
    left: 49%;
    /* background-color: blue; */
}
span{ 
    background-color: #ffffff;
    padding:30px;
    font-size: 40px;
    font-weight: 800;
    border-radius: 40px;
    box-shadow: 20px 20px 60px #00000061,inset -10px -10px 60px #00000056;
}
.dgital{
    width: 40vw;
    max-width: 40vw;
    height: 35vh;
    /* background-color: aqua; */
    position: relative;
    top: 20%;
    left: 30%;
    text-align: center;
}
